/* Sidebar.css */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px; /* Adjust padding-top to accommodate any header */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* App.css */
  .app {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  